Repository vrozaksen/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/rb5009, device/cap-ax, device/crs326, device/crs-317, device/hex

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"

# =================================================================================================
# Device Labels
# =================================================================================================
device/rb5009:
  - changed-files:
      - any-glob-to-any-file: "router-*.tf"

device/cap-ax:
  - changed-files:
      - any-glob-to-any-file: "router-capsman.tf"

device/crs326:
  - changed-files:
      - any-glob-to-any-file: "switch-crs326.tf"

device/crs-317:
  - changed-files:
      - any-glob-to-any-file: "switch-crs317.tf"

device/hex:
  - changed-files:
      - any-glob-to-any-file: "switch-hex.tf"

feat: refactor bonding
  credentials.auto.tfvars.sops
  main.tf
  modules/base/_variables.tf
  modules/base/bonding.tf
  modules/base/interfaces.tf
  modules/base/ip-services.tf
  modules/base/ntp.tf
  modules/base/system.tf
  modules/base/tools.tf
  modules/base/vlans.tf
  modules/dhcp-server/main.tf
  providers.tf
  switch-crs326.tf
  terraform.tfstate.sops
  variables.tf
Labels: area/terraform, device/crs326

feat: DDNS + WireGuard
  credentials.auto.tfvars.sops
  router-ddns.tf
  router-firewall-vpn.tf
  router-routing-bgp.tf
  router-vpn.tf
  switch-crs326.tf
  terraform.tfstate.sops
Labels: area/terraform, device/rb5009, device/crs326

secondary cloudflare_zone not used
  providers.tf
Labels: area/terraform

chore: update readme
  .github/CODEOWNERS
  .github/FUNDING.yml
  README.md
Labels: area/github

chore: Aincrad new MAC chore: new PF for Mirotalk, cleanup PF rule generator chore: cleanup interfaces
  credentials.auto.tfvars.sops
  main.tf
  router-firewall-nat.tf
  router-rb5009.tf
  terraform.tfstate.sops
Labels: area/terraform, device/rb5009

feat: use renovate-config feat: initial netbox setup feat: shared labels feat: refactor label-sync workflow
  .github/labels.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/renovate.yaml
  .renovaterc.json
  credentials.auto.tfvars.sops
  main.tf
  providers.tf
  terraform.tfstate.sops
  variables.tf
Labels: area/github, area/terraform

fix: labels link
  .github/workflows/label-sync.yaml
Labels: area/github

add: HORRACO switch remove: netbox
  credentials.auto.tfvars.sops
  main.tf
  providers.tf
  router-rb5009.tf
  switch-crs326.tf
  terraform.tfstate.sops
  variables.tf
Labels: area/terraform, device/rb5009, device/crs326

chore: latest changes
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

terraform fmt -recursive -check
  infrastructure/mikrotik/router-rb5009/services/capsman.tf
  infrastructure/mikrotik/router-rb5009/services/firewall-rules.tf
  infrastructure/mikrotik/router-rb5009/services/firewall-vpn.tf
  infrastructure/mikrotik/router-rb5009/services/interface-lists.tf
  infrastructure/mikrotik/router-rb5009/services/scripts.tf
Labels: none

terragrunt hcl format
  infrastructure/mikrotik/router-rb5009/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: none

fix: adlists
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server.tf
Labels: none

feat(mikrotik): update routeros provider version and add new local variables for external network
  .mise.toml
  infrastructure/mikrotik/_shared/provider.tf
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall-nat.tf
  infrastructure/mikrotik/router-rb5009/services/firewall-rules.tf
  infrastructure/mikrotik/router-rb5009/services/routing-bgp.tf
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/services/routing-bgp.tf
Labels: none

feat(mikrotik): - enhance network configuration with DMZ settings - add RIPE Atlas Probe - update MTU variables - move NAS to 10Gbps space!
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall-rules.tf
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/bonding.tf
  modules/mikrotik-base/bridge.tf
  root.hcl
Labels: none

feat(bgp): add ASN for k8s peers in routing configurations
  infrastructure/mikrotik/router-rb5009/services/routing-bgp.tf
  infrastructure/mikrotik/switch-crs326/services/routing-bgp.tf
Labels: none

feat(mikrotik): update DHCP pool range and add static lease for ripe-atlas-probe
  infrastructure/mikrotik/locals.hcl
Labels: none

feat: Multi WAN (failover) with LTE
  infrastructure/mikrotik/router-rb5009/services/dhcp-client.tf
  infrastructure/mikrotik/router-rb5009/services/interface-lists.tf
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
Labels: none

chore: remove 'External' network
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall-rules.tf
Labels: none

chore: organize PF
  infrastructure/mikrotik/router-rb5009/services/firewall-nat.tf
Labels: none

featL PF for RimWorld
  infrastructure/mikrotik/router-rb5009/services/firewall-nat.tf
Labels: none

chore: add dst dns port
  infrastructure/mikrotik/router-rb5009/services/firewall-vpn.tf
Labels: none

feat: expanded lint
  .github/workflows/lint.yaml
Labels: area/github

feat: update tooling, add just
  .commitlintrc.json
  .mise.toml
  .pre-commit-config.yaml
  .yamllint.yaml
  justfile
Labels: none

chore: remove diagram, it's not mine!
  docs/img/network-diagram.drawio.png
Labels: none

feat(offsite): add hAP ax lite router management module
  infrastructure/mikrotik/offsite-locals.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  infrastructure/mikrotik/router-offsite/terragrunt.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-offsite-services/_provider.tf
  modules/mikrotik-offsite-services/_variables.tf
  modules/mikrotik-offsite-services/dhcp-servers.tf
  modules/mikrotik-offsite-services/dns.tf
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/main.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/provider.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/variables.tf
  modules/mikrotik-offsite-services/qos.tf
  modules/mikrotik-offsite-services/wifi.tf
  modules/mikrotik-offsite-services/wireguard.tf
  modules/mikrotik-router-services/_variables.tf
Labels: none

fix: correct IP address for Local-Friend service
  modules/mikrotik-router-services/firewall-nat-rules.tf
Labels: none

bump
  .envrc
  .gitignore
  infrastructure/cloudflare/primary/terragrunt.hcl
  infrastructure/cloudflare/secondary/terragrunt.hcl
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/offsite-locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/ovh/dependency.hcl
  infrastructure/ovh/ipv4-cname/terragrunt.hcl
  infrastructure/ovh/vpn-cname/terragrunt.hcl
  justfile
  modules/cloudflare-cname/main.tf
  modules/cloudflare-cname/providers.tf
  modules/cloudflare-cname/variables.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/ip-services.tf
  modules/mikrotik-base/tools.tf
  modules/mikrotik-offsite-services/_variables.tf
  modules/mikrotik-offsite-services/dns.tf
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/scripts.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
  modules/ovh-cname/main.tf
  modules/ovh-cname/providers.tf
  modules/ovh-cname/variables.tf
Labels: none

feat(firewall): add DNS redirection rules and update address lists for IoT and K8s services
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-router-services/firewall-address-lists.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
Labels: none

ci(github-tag): update tag github/codeql-action (v4.35.5 → v4.36.0)
  .github/workflows/codeql.yml
Labels: area/github

ci(forgejo): port commitlint, label-sync, labeler, and lint workflows from GitHub Actions
  .forgejo/workflows/commitlint.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  .forgejo/workflows/lint.yaml
  .yamllint.yaml
Labels: none

ci(forgejo): drop mise, install only what each job needs
  .forgejo/workflows/commitlint.yaml
  .forgejo/workflows/lint.yaml
Labels: none

fix(lint): change yamllint installation method to use pipx
  .forgejo/workflows/lint.yaml
Labels: none

style: tofu fmt
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/qos.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/modules/dhcp-server/main.tf
Labels: none

chore: replace pre-commit with lefthook, add yamlfmt auto-fix
  .lefthook.toml
  .mise.toml
  .pre-commit-config.yaml
Labels: none

ci(forgejo): expose pipx-installed yamllint on PATH
  .forgejo/workflows/lint.yaml
Labels: none

style: tofu + terragrunt fmt
  .lefthook.toml
  .mise.toml
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
Labels: none
